.THIS {
}
.THIS .surround {
	background: #f4f6f9;
	font-size: 10px;
}
.THIS .grayish {
	font-size: 1rem;
	font-color: #030100;
    line-height: 1.5;
    bgcolor: #E5E7E9;
    padding: 2px;
    vertical-align: middle;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
}