/*Updated: Marc Dysart - March 2017 for March Release*/
/*Purpose: PD-443 - Breadcrumbs in Lien & Claimant pages*/
/* Style for synopsis */
.THIS .synopStyle {
	border-top: solid 2px;
	border-color: #D8DDE6;
	margin-top: 20px;
	padding-top: 20px;
}
/*start PD-443 */
.THIS .last-breadcrumb {
	padding-left: 8px;
}
/*end PD-443 */