/*  Created: lmsw - January 2017 first draft
    Purpose: PD-168 - Title Section on the Claimant Detail Page

History:
	
	Updated: lmsw - February 2017 for Mqrch Release
	Purpose: PD-168- Simplify css and change position of circle

	Updated: lmsw - February 2017 for March Release
	Purpose: PD-393 - Added style to Synopsis section;

	Updated: Marc Dysart - March 2017 for March Release
	Purpose: PD-443 - Breadcrumbs in Lien & Claimant pages
 */
 
.THIS .statusbutton {
	
}

.THIS .uiInput--select.select:not([multiple]).statusbutton {
	padding-left: 30px;
	padding-right: 20px;
}
/* Default circle in Claimant status button */
.THIS .defaultCircle {
	border-radius: 50%;
	width: 15px;
	height: 15px;
	position: relative;
	left: -188px;
	margin-top: 8px;
}
/* Red circle in Claimant status button */
.THIS .redCircle {
	background-color: #ef6e64;
}
/* Green circle in Claimant status button */
.THIS .greenCircle {
	background-color: #4bca81;
}
/* Yellow circle in Claimant status button */
.THIS .yellowCircle {
	background-color: #f2cf5b;
}
/* Style for synopsis */
.THIS .synopStyle {
	border-top: solid 2px;
	border-color: #D8DDE6;
	margin-top: 20px;
	padding-top: 20px;
}

/*start PD-443 */
.THIS .last-breadcrumb {
	padding-left: 8px;
}
/*end PD-443 */