.THIS .actionSelector {
	width: 100px;
	height: 100px;
	background: grey;
	position: center;
   	width: 50%;
}
.THIS .selectAction {
	display: block;
   	text-align: center;
   	font-size: 18px;
   	color: white;
   	font-family: "Tahoma";
   	font-weight: bold;
   	margin: auto;
   	width: 50%;
}
.THIS .disappear {
   	width: 0%;
}